.home-container {
    display: flex;
}

.home-main {
    margin: auto;
    width: 80%;
    height: 80%;
    background-image: url('../assets/shopping-cart-background2.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.btn {
    margin: 0 auto;
    position: relative;
    height: min-content;
    top: 70%;
}

#shop-now-btn {
    padding: 12px 48px;
    font-size: 1.5rem;
    border: solid 1px rgb(124, 124, 240);
    background: rgb(249, 246, 251);
    color: rgb(124, 124, 240);
}

#shop-now-btn:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 10px green);
}